<div class="row">
    <div class="col-md-12">
        <h2>{{viewData.employee.[0].firstName}} {{viewData.employee.[0].lastName}} - Employee: {{viewData.employee.[0].employeeNum}}</h2>
        <hr />
        <form method="post" action="/employee/update">
            <fieldset>
                <input id="employeeNum" name="employeeNum" type="hidden" value="{{viewData.employee.[0].employeeNum}}"/>
                <legend>Personal Information</legend>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="firstName">First Name:</label>
                            <input class="form-control" id="firstName" name="firstName" type="text" value="{{viewData.employee.[0].firstName}}" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="lastName">Last Name:</label>
                            <input class="form-control" id="lastName" name="lastName" type="text" value="{{viewData.employee.[0].lastName}}" />
                        </div>
                    </div>
                </div>
            <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            
                            <label for="email">Email:</label>
                            <input class="form-control" id="email" name="email" type="email" value="{{viewData.employee.[0].email}}"/>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="SSN">Social Security Num:</label>
                            <input class="form-control" id="SSN" name="SSN" type="text" value="{{viewData.employee.[0].SSN}}" readonly/>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="addressStreet">Address (Street):</label>
                            <input class="form-control" id="addressStreet" name="addressStreet" type="text" value="{{viewData.employee.[0].addressStreet}}" />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <label for="addressCity">Address (City):</label>
                        <input class="form-control" id="addressCity" name="addressCity" type="text" value="{{viewData.employee.[0].addressCity}}" />
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="addressState">Address (State):</label>
                            <input class="form-control" id="addressState" name="addressState" type="text" value="{{viewData.employee.[0].addressState}}" />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="addressPostal">Address (Zip Code):</label>
                            <input class="form-control" id="addressPostal" name="addressPostal" type="text" value="{{viewData.employee.[0].addressPostal}}"/>
                        </div>
                    </div>
                </div>


            </fieldset>

            <fieldset>
                <legend>Company Information</legend>
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="isManager">Manager:</label>
                            <input class="form-control" type="checkbox" name="isManager" {{#if viewData.employee.[0].isManager}}checked{{/if}}/>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="employeeManagerNum">Employee's Manager Number:</label>
                            <input class="form-control" id="employeeManagerNum" name="employeeManagerNum" type="text" value="{{viewData.employee.[0].employeeManagerNum}}" />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Status:</label><br />
                            
                            <label  class="checkbox-inline">
                                <input type="radio" id="statusFulltime" name="status" value="Full Time" {{#equal viewData.employee.[0].status "Full Time"}}checked{{/equal}} /> Full Time
                            </label>
                            <label  class="checkbox-inline">
                                <input type="radio" id="statusParttime" name="status" value="Part Time"  {{#equal viewData.employee.[0].status "Part Time"}}checked{{/equal}}/> Part Time
                            </label>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="department">Department</label>
                                {{#if viewData.departments}}
                                    <select class="form-control" name="department" id="department">
                                    {{#each viewData.departments}}
                                        <option value="{{departmentId}}" {{#if selected}} selected {{/if}} >{{departmentName}} </option>
                                    {{/each}}
                                    </select>
                                {{else}}
                                    <div>No Departments</div>
                                {{/if}}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="hireDate">Hire Date</label>
                            <input class="form-control" id="hireDate" name="hireDate" type="text" value={{viewData.employee.[0].hireDate}} readonly/>
                        </div>
                    </div>
                </div>
            </fieldset>
            <hr />
            <input type="submit" class="btn btn-primary pull-right" value="Update Employee" /><br /><br /><br />
        </form>
    </div>
</div>
